.card {
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  padding: 24px;
  min-width: 335px;
  width: 100%;
  margin-bottom: 16px;
  background: var(--bg-accent);
}

.card h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #000;
}

.card div {
  display: flex;
  flex-direction: row;
}

.card span {
  display: inline;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.card p {
  display: inline;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
}

/* !TABLET */
@media screen and (min-width: 768px) {
  .card {
    margin-bottom: 0;
  }
}

/* !DESKTOP */
@media only screen and (min-width: 1440px) {
  .card {
    width: 642px;
    height: 138px;
  }

  .card h2 {
    font-size: 24px;
  }

  .card span {
    font-size: 16px;
  }

  .card p {
    font-size: 16px;
  }

  .descriptionBox {
    max-height: 52px;
    overflow-y: auto;
    padding-right: 10px;
  }
}
