/* mobile */

.profileSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-bottom: 32px;
}

.avatarImage {
  border-radius: 100%;
}

.profileInfo {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoName {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
}

.infoEmail {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.uploadBtn {
  margin-top: 16px;
  width: 335px;
  height: 38px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  padding: 8px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  background: rgba(0, 0, 0, 0.05);
}

/* tablet */
@media screen and (min-width: 768px) {
  .profileSection {
    justify-content: flex-start;
  }

  .profileInfo {
    padding: 0px 0px 0px 4px;
    align-items: flex-start;
  }
  .uploadBtn {
    width: 218px;
  }
}

/* desktop */

@media screen and (min-width: 1440px) {
  .profileSection {
    align-items: center;
    gap: 24px;
  }

  .profileInfo {
    width: 446px;
    height: 49px;
  }

  .uploadBtn {
    height: 42px;
  }
}
