.tasksContainer {
  border-radius: 32px;
  padding: 24px;
  min-width: 335px;
  width: 100%;
  background: var(--bg-accent);
}

.tasksHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.tasksHeader h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

.tasksHeader button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.addTask {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000;
  width: 25px;
  height: 25px;
  padding-top: 3px;
}

.addTaskLink {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tasksList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.tasksListItem {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 19px;
}

.taskLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.noTasks {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
}

.noTasksDescription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.addTaskButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid var(--accent-ui);
  border-radius: 100px;
  padding: 10px 24px;
  width: 173px;
  height: 42px;
  background: var(--bg-accent-high);
  margin-top: 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
  transition: all 0.3s ease;
}

.addTaskButton:hover,
.addTaskButton:focus {
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  background: #fff;
}

.addTaskButton:active {
  border-bottom: 4px solid transparent;
  background: #b2b2b2;
}

.checkImitationFalse {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.checkImitationTrue {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #000;
  cursor: pointer;
}

.check {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  display: block;
  border: none;
  outline: transparent;
  opacity: 0;
}

.checkIconFalse {
  width: 20px;
  height: 18px;
  fill: white;
  opacity: 0;
}

.checkIconTrue {
  width: 20px;
  height: 18px;
  fill: white;
  opacity: 1;
}

.check:checked + .checkIcon {
  opacity: 1;
}

.check:checked .checkImitation {
  background-color: #000;
}

.taskTextWrapper {
  position: relative;

  margin-left: 8px;
}

.data {
  position: absolute;
  width: 100px;
  height: 20px;
  top: -18px;
  left: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.6;
}

.taskDescription {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
}

.taskDone {
  text-decoration: line-through;
  opacity: 0.7;
}

/* !DESKTOP */
@media only screen and (min-width: 1440px) {
  .tasksContainer {
    width: 390px;
    max-height: 499px;
    height: 100%;
  }

  .tasksHeader h2 {
    font-size: 24px;
    font-family: inherit;
  }

  .wrapperTasksList {
    max-height: 400px;
    height: 100%;
    overflow-y: auto;
    padding-right: 10px;
  }

  .tasksList {
    overflow-y: auto;
    padding-right: 10px;
  }

  .data {
    font-size: 12px;
    width: 100px;
    height: 20px;
  }

  .taskDescription {
    font-size: 14px;
  }

  .noTasks {
    font-size: 16px;
  }

  .noTasksDescription {
    font-size: 16px;
  }

  .addTaskButton {
    width: 191px;
    height: 46px;

    font-size: 16px;
  }

  /* ?SCROLL */
  /* .tasksList {
    
    height: 445px;
    overflow-y: auto;
    padding-right: 10px;
   
  }

  .tasksList::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  .tasksList::-webkit-scrollbar-thumb {
    background: var(--accent-ui);
    border-radius: 8px;
  }

  .tasksList::-webkit-scrollbar-track {
    background: transparent;
  } */
}
