.container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 8px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.weekButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid transparent;
  border-radius: 32px;
  padding: 16px;
  width: 97px;
  height: 101px;
  background: var(--bg-accent);
  /* opacity: 0.6; */
  cursor: pointer;
  transition: background 0.2s;
}
.weekButton:hover,
.weekButton:focus {
  border: 4px solid var(--color-scheme-foreground-alt);
}
.weekButtonActive {
  border: 4px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 16px;
  width: 97px;
  height: 101px;
  background: var(--color-scheme-accent);
}
.weekButtonDisabled {
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 16px;
  width: 97px;
  height: 101px;
  background: var(--color-neutral-lightest);
  opacity: 0.4;
  cursor: not-allowed;
}
.weekButtonDisabled:hover,
.weekButtonDisabled:focus {
  border: 0px solid var(--color-scheme-border);
}

.weekNumber {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #000;
}

.weekLabel {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #000;
}
