.diaryCardListItem {
  padding: 16px;
  background: var(--bg-accent-high);
  /* width: 303px; */
  min-width: 303px;
  border: 1px solid var(--bg-accent-high);
  border-radius: 16px;
  &:hover,
  focus {
    cursor: pointer;
  }
}

.diaryCardListItemWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}

.diaryCardListItemWrapperText {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
}

.diaryCardListItemWrapperDate {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 1.6;
  font-weight: 400;
  flex-shrink: 0;
}

.diaryCardListItemWrapperEmotions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.emotionsItem {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 2px 12px;
  background: var(--bg-accent);
  border-radius: 100px;
}
