/* Mobile First - 375px base */
.container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 335px;
  height: 105px;
}

.statItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 16px;
  width: 159px;
  height: 105px;
  background: var(--bg-accent);
}

.errorItem {
  background-color: #fef2f2;
}

.label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000;
}

.value {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #000;
}

.errorValue {
  color: #ef4444;
}

/* Tablet - 768px and up */
@media screen and (min-width: 768px) {
  .container {
    gap: 32px;
    width: 704px;
    height: 105px;
  }

  .statItem {
    border: 0px solid var(--color-scheme-border);
    border-radius: 32px;
    padding: 16px;
    width: 336px;
    height: 105px;
  }

  .label {
    margin-bottom: 8px;
  }
}

/* Desktop - 1440px and up */
@media only screen and (min-width: 1440px) {
  .container {
    gap: 32px;
    min-width: 642px;
    height: 127px;
    margin-bottom: 32px;
  }

  .statItem {
    padding: 20px;
    max-width: 305px;
    height: 127px;
  }

  .label {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .value {
    font-size: 56px;
  }
}
