.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 295px;
  height: 222px;
  margin-top: 48px;
}

.formDiv {
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 66px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.name,
.date {
  margin-top: 4px;
  padding: 8px 12px;
  border: 2px solid #fff;
  background: #f2f2f2;
  height: 37px;
}

.inputField {
  padding: 8px;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.3s ease;
}

.inputField.date {
  cursor: pointer;
}
.inputField:focus {
  border-color: var(--accent-ui);
}

.inputField.error {
  border-color: #c60000;
}
.saveButton {
  display: flex;
  justify-content: center;
}
.error {
  color: #c60000;
  font-size: 12px;
  margin-top: 4px;
}

@media (min-width: 768px) {
  .form {
    width: 640px;
    height: 222px;
  }

  .formDiv {
    width: 640px;
  }

  .name,
  .data {
    width: 640px;
  }
}
