/* mobile */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 37, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #ffffff;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  padding: 64px 20px;
  width: 335px;
  height: 413px;
  max-width: 768px;
}

.closeButton {
  position: absolute;
  top: 32px;
  right: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #333;
  width: 32px;
  height: 32px;
}

.title {
  font-family: "Comfortaa", sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  padding-bottom: 48px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.confbtn {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  width: 268px;
  height: 42px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}

.confbtn:hover,
.confbtn:focus {
  border-bottom: 4px solid var(--accent-ui);
  background: var(--bg-accent-high);
}

/* tablet */

@media screen and (min-width: 768px) {
  .modal {
    border-radius: 40px;
    padding: 64px 32px;
    width: 704px;
    height: 261px;
    max-width: 768px;
  }

  .title {
    font-size: 36px;
    width: 640px;
  }

  .form {
    width: 640px;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .confbtn {
    padding: 10px 24px;
    height: 46px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
  }
}

/* desktop */

@media screen and (min-width: 1440px) {
  .modal {
    padding: 64px;
    width: 768px;
    height: 338px;
    max-width: 768px;
  }

  .title {
    font-size: 48px;
    text-align: center;
  }

  .confbtn {
    padding: 10px 24px;
    height: 46px;
  }
}
