.journeyDetails {
  min-width: 335px; /*768px;*/
  border-radius: 8px;
  background: #fff;
}
@media (min-width: 768px) {
  .journeyDetails {
    min-width: 704px;
  }
}
/* ================================= */
.tabSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 4px;
  height: 50px;
  background: var(--bg-accent);
  list-style: none;
  margin-bottom: 16px;
}
@media (min-width: 1440px) {
  .tabSelector {
    width: 572px;
    height: 54px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }
}
.tabItem {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.6;
  text-align: center;
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  background: var(--opacity-transparent);
  padding: 10px 24px;
  width: 100%;
  height: 42px;
  cursor: pointer;
}
.tabItem[data-state="active"] {
  border: 1px solid rgba(255, 255, 255, 0);
  background: var(--color-scheme-foreground-alt);
}

/* ========================================= */
.contentList {
  border-radius: 32px;
  background: var(--bg-accent);
  padding: 24px;
}
.babyImage {
  margin-bottom: 32px;
}
.babyImg {
  display: block;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}
.descriptionList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}
/* ---------------- */
.fact {
  border-radius: 12px;
  padding: 12px;
  background: var(--bg-accent-high);
}
.item {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
.title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  padding-bottom: 8px;
}

@media (min-width: 768px) {
  .babyImg {
    width: 656px;
  }
  .tabItem {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .item {
    font-size: 16px;
  }
  .contentList.baby {
    display: flex;
    gap: 32px;
    overflow-x: auto;
  }
  .babyImage {
    margin-bottom: 0;
  }
  .babyImg {
    width: 461px;
  }
}
.mom .contentList {
  margin-bottom: 24px;
}
/* xxxxxxxxxxxxxxxxxxxx */
@media (min-width: 1440px) {
  /* .contentList.feelings {
    height: 194px;
    overflow-x: auto;
  }
  .contentList.tips {
    height: 322px;
    overflow-x: auto;
  } */
  .mom .contentList + .contentList {
    margin-bottom: 0;
  }
}

/* ======================================== */

.feelingsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}
.feelingsItem {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 4px 10px;
  background: rgba(0, 0, 0, 0.05);
}
/* ------------------ */
.tipsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}
.tipItem {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.tipContent {
  display: flex;
  flex-direction: column;
}
.tipCategory {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 6;
  color: #000;
}
@media (min-width: 1440px) {
  .mom {
    display: flex;
    gap: 24px;
  }
  .momContent {
    width: 650px;
  }
}
