.card {
  border-radius: 32px;
  padding: 24px;
  min-width: 335px;
  margin-bottom: 8px;
  background: var(--bg-accent);
}

.title {
  font-weight: 700;
  color: #000;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
}

.imageContainer {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  min-width: 287px;
  min-height: 216px;
  margin-bottom: 16px;
  overflow: hidden;
}

.statsList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.statsList span {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.statsList p {
  font-size: 14px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

/* !TABLET */
@media screen and (min-width: 768px) {
  .card {
    margin-bottom: 0px;
  }

  .boxImgAndStats {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
  }

  .imageContainer {
    width: 257px;
    height: 194px;
    margin-bottom: 0px;
  }

  .statsList {
    margin-bottom: 0px;
  }
}

/* !DESKTOP */
@media only screen and (min-width: 1440px) {
  .card {
    width: 642px;
    height: 422px;
    margin-bottom: 24px;
  }

  .title {
    font-size: 24px;
  }

  .statsList p {
    font-size: 16px;
  }

  .statsList span {
    font-size: 16px;
  }

  .description {
    font-size: 16px;
  }

  .descriptionBox {
    max-height: 78px;
    overflow-y: auto;
    padding-right: 10px;
  }

  .imageContainer {
    width: 257px;
    height: 194px;
  }

  .activityItem {
    max-height: 100px;
    overflow-y: auto;
  }
}
