.diaryEntryDetails {
  /* max-width: 375px; */
  background-color: #fff;
}

.diaryEntryDetailsWrapper {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 32px;
  min-width: 335px;
  /* tablet */
  max-width: 768px;
  width: 100%;
  /* height: 603px; */
  background: var(--bg-accent);
}

.diaryEntryDetailsTitle {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 7.5px;
  padding-top: 7.5px;

  /* line-height: 25px; */
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #000;
  /* margin-bottom: 7.5px; */
}

.diaryEntryDetailsDate {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;

  /* line-height: 19px; */
  line-height: 1.6;
  color: #000;

  padding-bottom: 10.5px;
  padding-top: 10.5px;
}

.diaryEntryDetailsContent {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;

  /* line-height: 21px; */
  line-height: 1.5;
  color: #000;
}

.diaryEntryDetailsEmotions {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
  gap: 8px;
}

.diaryEntryDetailsEmotionsListText {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 4px 10px;
  background: rgba(0, 0, 0, 0.05);
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 12px;

  /* line-height: 19px; */
  line-height: 1.6;
  color: #000;
}

.diaryEntryDetailsTitleWrapper {
  display: flex;
  gap: 8px;
}

.diaryEntryDetailsDateWrapper {
  display: flex;
  gap: 8px;
}

.diaryEntryDetailsEditBtn,
.diaryEntryDetailsDeleteBtn {
  background-color: transparent;
  border: none;
}

.deleteBtn,
.editBtn {
  width: 24px;
  height: 24px;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .titleDateBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* PC */

@media screen and (min-width: 1440px) {
  .diaryEntryDetailsWrapper {
    width: 643px;
    height: 727px;
  }
}
