@media (min-width: 1440px) {
  .pageWrapper {
    display: flex;
    justify-content: center;
  }
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
.logo {
  margin-top: 22px;
}
.header {
  position: absolute;
  height: 72px;
}

.title {
  font-family: var(--font-comfortaa);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  width: 335px;
  padding-top: 211px;
  padding-bottom: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .title {
    width: 480px;
    padding-top: 269px;
    padding-bottom: 32px;
    margin-left: 112px;
  }
}
@media (min-width: 1440px) {
  .title {
    margin-left: 120px;
    font-size: 48px;
  }
}

.form {
  width: 335px;
}

@media (min-width: 768px) {
  .form {
    width: 480px;
    margin-left: 112px;
    margin-right: 112px;
  }
}
@media (min-width: 1440px) {
  .form {
    margin-left: 120px;
    margin-right: 120px;
  }
}
.inputBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  position: relative;
}
.label {
  font-size: 14px;
  line-height: 1.5;
}
@media (min-width: 1440px) {
  .label {
    font-size: 16px;
  }
}
.errorMessage {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
  line-height: 1.6;
  color: #c60000;
}
.inputField {
  width: 335px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 8px 12px;
  height: 37px;
  background: rgba(0, 0, 0, 0.05);
}

.inputField:hover,
.inputField:focus {
  border-color: var(--accent-ui);
  outline: none;
}

@media (min-width: 768px) {
  .inputField {
    width: 480px;
  }
}
@media (min-width: 1440px) {
  .inputField {
    height: 40px;
  }
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 335px;
  height: 42px;
  border-bottom: 4px solid var(--accent-ui);
  border-radius: 100px;
  padding: 10px 24px;
  background: var(--bg-accent-high);
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  color: #000;
}

@media (min-width: 768px) {
  .submitBtn {
    width: 480px;
    height: 42px;
  }
}
@media (min-width: 1440px) {
  .submitBtn {
    font-size: 16px;
  }
}
.submitBtn:disabled {
  opacity: 0.3;
}
.text {
  display: inline-block;
  margin-left: 80px;
  margin-right: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
@media (min-width: 768px) {
  .text {
    margin-left: 152px;
  }
}
@media (min-width: 1440px) {
  .text {
    font-size: 16px;
  }
}

.link {
  font-size: 14px;
  line-height: 1.6;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
}
@media (min-width: 1440px) {
  .link {
    font-size: 16px;
    line-height: 1.6;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
  }
}

.apiError {
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  color: #c60000;
}

.image {
  display: none;
}
@media (min-width: 1440px) {
  .image {
    display: block;
    height: 100vh;
  }
}
